<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>compare-layouts</title>
    <meta name="author" content="Uwe Gerdes, entwicklung@uwegerdes.de">
    <meta name="copyright" content="Uwe Gerdes, entwicklung@uwegerdes.de">
    <meta name="description" content="compare-layouts">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <script src="/js/run-config.js"></script>
  </head>
  <body id="app" class="app <%= action %>">
    <div class="container">
      <div class="list <% if (running.length > 0 ) { %>running <% if (running.length > 1 ) { %>runall<% } %><% } %>">
        <h1>compare-layouts Status</h1>
        <div class="head">
          <div class="buttonContainer">
            <a href="/app<% if (name) { %>/<%= name %><% } %>" class="button buttonReload">neu laden</a>
            <a href="javascript:runAll();"   class="button buttonStart">alle starten</a>
          </div>
        </div>
        <ul class="configs">
          <% configs.forEach(function(data) { %>
            <% include listItem %>
          <% }) %>
        </ul>
      </div>
      <% if (error) { %>
      <div class="error">
        <h2><%= error %></h2>
      </div>
      <% } %>
      <% if (name) { %>
      <div class="item">
        <div class="head">
          <h1>Konfiguration:
            <% if (config.label) { %>
              <%= config.module %> <%= config.label %>
            <% } else { %>
              <%= config.destDir %>
            <% } %>
          </h1>
          <div class="buttonContainer">
            <a href="/app" class="button buttonReload" title="Konfigurations-Details schließen">schließen</a>
            <span class="started">gestartet</span>
            <a href="javascript:run('<%= name %>');" class="button buttonStart" title="Konfiguration starten">starten</a>
            <form name="params" method="GET" action="/app/<%= name %>" class="params"><label for="verbose" class="checkbox"><input type="checkbox" name="verbose" value="verbose" id="verbose" />verbose</label></form>
            <a href="/app/<%= name %>/edit" class="button buttonEdit" title="Konfiguration bearbeiten">bearbeiten</a>
            <a href="javascript:clear('<%= name %>');" class="button buttonClear" title="Ergebnis löschen">löschen</a>
          </div>
        </div>
        <% if (action == 'edit') { %>
        <div class="configFile">
          <h2>Konfigurationsdatei config/<%= name %>.js bearbeiten</h2>
          <form name="edit" method="POST" action="/app/<%= name %>/edit" class="edit">
            <textarea name="configfile" class="editor" style="width:95%; height:500px;"><%= file %></textarea>
            <input type="submit" name="submit" value="speichern" class="button buttonSubmit">
            <a href="/app/<%= name %>" class="button buttonCancel" title="zurück zur Ansicht">verwerfen</a>
          </form>
        </div>
        <% } else if (action == 'check') { %>
          <div class="configFile">
            <h2>Konfigurationsdatei config/<%= name %>.js</h2>
            <pre class="editor"><%= file %></pre>
          </div>
          <div class="configData">
            <h2>Effektive Konfiguration</h2>
            <pre class="editor">config = <%= JSON.stringify(config, null, 4) %></pre>
          </div>
        <% } else { %>
        <% if (running.indexOf(name) == -1 && lastRun != 'Keine Daten') { %>
        <div class="result">
          <h2>Testergebnis <%= lastRun %></h2>
          <table class="results">
            <thead>
              <th>Vergleich</th>
              <th>Selektor 1</th>
              <th>Selektor 2</th>
            </thead>
            <tbody>
<% Object.keys(results).forEach(function(resultKey) { %>
  <% result = results[resultKey] %>
  <% include showItem %>
<% }) %>
            </tbody>
          </table>
        </div>
        <% } %>
        <div class="logOutput">
          <h2>Log-Ausgabe</h2>
          <div id="response" class="response"><%- logfile %></div>
        </div>
<% /* %>
        <div class="resultData">
          <h2>Ergebnisdaten</h2>
          <pre class="editor">results = <%= JSON.stringify(results, null, 4) %></pre>
        </div>
<% */ %>
        <div class="configFile">
          <h2>Konfigurationsdatei config/<%= name %>.js</h2>
          <pre class="editor"><%= file %></pre>
        </div>
        <div class="configData">
          <h2>Effektive Konfiguration</h2>
          <pre class="editor">config = <%= JSON.stringify(config, null, 4) %></pre>
        </div>
<!--
        <pre><%= JSON.stringify(config, null, 4) %></pre>
-->
        <% } %>
      </div>
      <% } else { %>
        <div class="logOutput">
          <h2>Log-Ausgabe</h2>
          <div class="response"><%- logfile %></div>
        </div>
      <% } %>
    </div>
    <div class="footer">
    </div>
<% if (typeof livereloadPort != "undefined") { %>
	<script language="JavaScript">
		if (location.host.split(':')[1] === '8080') {
			var script = document.createElement('script');
			script.setAttribute('src', 'http://' + location.host.split(':')[0] + ':<%= livereloadPort %>/livereload.js');
			document.body.appendChild(script);
		}
	</script>
<% } %>
  </body>
</html>
