<li class="config <% if ( ! data.success ) { %>failed<% } %>">
  <div class="name">
    <a href="/app/<%= data.name %>" title="<%= data.name %> anzeigen">
      <% if (data.config.module && data.config.label) { %>
        <%= data.config.module %> <%= data.config.label %>
      <% } else { %>
        <%= data.config.destDir %>
      <% } %>
    </a>
  </div>
  <div class="result"><% if (running.indexOf(data.name) > -1 ) { %>running<% } else { %><% if ( data.totalTests > 0 ) { %><% if ( data.success ) { %><%= data.totalTests %> test<% if ( data.totalTests != 1 ) { %>s<% } %> OK<% } else { %><%= data.failedTests %> of <%= data.totalTests %> test<% if ( data.totalTests != 1 ) { %>s<% } %> FAILED<% } %><% } %><% } %></div>
  <div class="lastRun"><% if (running.indexOf(data.name) > -1) { %>gestartet<% } else { %><%= data.lastRun %><% } %></div>
</li>
