<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Compare Layouts <%= result.page1.url %> <%= result.selector1 %> &lt;=&gt; <%= result.page2.url %> <%= result.selector1 %></title>
<link href="/css/app.css" rel="stylesheet" />
</head>
<body>
<div class="result">
	<h1>Compare Layouts</h1>
	<h2>Dynamischer Vergleich</h2>
	<div class="result-compare-label" style="width:<%= result.width %>px">
		<h4 class="result-compare-label1"><%= result.page1.url %> "<%= result.selector1 %>"</h4>
		<h4 class="result-compare-label2"><%= result.page2.url %> "<%= result.selector2 %>"</h4>
	</div>
	<div id="result-compare" class="result-compare">
		<div class="result-compare1"><img src="/<%= result.baseFilename1 %>.png" /></div>
		<div class="result-compare2"><img src="/<%= result.baseFilename2 %>.png" id="result-compare2-img" /></div>
		<div id="result-compare-sensor" class="result-compare-sensor"></div>
	</div>
	<script src="/js/result-compare.js"></script>
	<br />
	<% if (result.imageStderr && result.imageStderr.indexOf('a') > 0) { %>
		<h2>Unterschiede können nicht ermittelt werden:</h2>
		<div class="imageDiff"><%= result.imageStderr.replace(/ @.+/, '') %></div>
		<br />
	<% } else { %>
		<% if (result.imageStderr != "0") { %>
			<h2>Unterschiede</h2>
			<h3>Maske</h3>
			<div class="imageDiff"><img src="/<%= result.compareFilename %>" /></div>
			<br />
		<% } else { %>
			<h2>Screenshots sind identisch</h2>
			<br />
		<% } %>
	<% } %>
	<% if (result.imageStderr != "0") { %>
		<h3>Differenz</h3>
		<div class="imageDiff composite"><img src="/<%= result.compositeFilename %>" /></div><br />
<% /* %>
		<h3>Differenz monochrom</h3>
		<div class="imageDiff composite_monochrome"><img src="/<%= result.compositeMonochromeFilename %>" /></div><br />
<% */ %>
	<% } %>
	<div class="compareResult">
		<h2>Style-Unterschiede</h2>
		<%- compare %>
	</div>
</div>
<% if (typeof livereloadPort != "undefined") { %>
	<script>document.write('<scr' + 'ipt src="http://' + (location.host || 'localhost').split(':')[0] + ':<%= livereloadPort %>/livereload.js"></scr' + 'ipt>')</script>
<% } %>
<br />
</body>

