<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Compare Layouts <%= result.page1.url %> <%= result.selector1 %> &lt;=&gt; <%= result.page2.url %> <%= result.selector1 %></title>
<link href="/css/app.css" rel="stylesheet" />
</head>
<body>
<div class="result">
	<h1>Compare Layouts</h1>
	<h2>Dynamischer Vergleich</h2>
	<div class="result-compare-label" style="width:<%= config.data.viewports[viewport].width %>px">
		<h4 class="result-compare-label1"><%= result.page1.engine %> <%= result.page1.url %> "<%= result.selector1 %>"</h4>
		<h4 class="result-compare-label2"><%= result.page2.engine %> <%= result.page2.url %> "<%= result.selector2 %>"</h4>
	</div>
	<div id="result-compare" class="result-compare" style="width:<%= config.data.viewports[viewport].width %>px; height:<%= config.data.viewports[viewport].height %>px">
		<div class="result-compare1"><img src="/<%= result.baseFilename1 %>.png" /></div>
		<div id="result-compare2" class="result-compare2"><img src="/<%= result.baseFilename2 %>.png" /></div>
		<div id="result-compare-sensor" class="result-compare-sensor"></div>
	</div>
	<br />
	<% if (result.compareImagesStderr && result.compareImagesStderr.indexOf('a') > 0) { %>
		<h3><%= result.compareImagesStderr.replace(/ `.+/, '') %></h3>
		<br />
	<% } else { %>
		<% if (result.compareImagesStderr != "0") { %>
			<h2>Unterschiede</h2>
			<h3>Maske</h3>
			<div class="imageDiff"><img src="/<%= result.compareFilename %>" /></div>
			<br />
		<% } else { %>
			<h2>Screenshots sind identisch</h2>
			<br />
		<% } %>
	<% } %>
	<% if (result.compareImagesStderr != "0") { %>
		<h3>Differenz</h3>
		<div class="imageDiff composite"><img src="/<%= result.compositeFilename %>" /></div><br />
	<% } %>
	<div class="compareResult">
		<h2>Style-Unterschiede</h2>
		<%- compare %>
	</div>
</div>
<% if (typeof livereloadPort != "undefined") { %>
	<script language="JavaScript">
		if (location.host.split(':')[1] === '8080') {
			var script = document.createElement('script');
			script.setAttribute('src', 'http://' + location.host.split(':')[0] + ':<%= livereloadPort %>/livereload.js');
			document.body.appendChild(script);
		}
	</script>
<% } %>
	<script src="/js/result-compare.js"></script>
</body>

